
* {
    box-sizing: border-box;
}

body {
    height: 100%;
    font-family: 'Raleway', sans-serif;
    background-color: gray;
}

header {
    height: 50px;
    line-height: 20px;
}

header > h1
,header > p {
    color: rgba(255, 255, 255, 0.8);
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    display: inline-block;
    padding: 0 20px;
    vertical-align: middle;
}

header > h1 {
    font-size: 1.1rem;
    text-transform: uppercase;
}

header > p {
    font-size: 0.9rem;
}

.trello-list {
    background-color: #ddd;
    width: 300px;
    border-radius: 3px;
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;
}

.cards {
    padding: 0;
}

.card {
    list-style: none;
    background-color: white;
    margin-bottom: 10px;
    border-radius: 1px;
}

.trello-list > a {
    color: gray;
    text-decoration: none;
    padding: 0 0 8px 8px;
}

.trello-list > a,
.trello-list > h2,
.trello-list .card {
    padding-left: 8px;
}

.label {
    width: 35px;
    height: 8px;
    border-radius: 3px;
    display: inline-block;
}

.label.general {
    background-color: orange;
}

.label.pathway {
    background-color: red;
}

.label.individual {
    background-color: green;
}

.label.pair {
    background-color: teal;
}